.header {
   display: flex;
   justify-content: space-between;
   align-items: center;

   grid-column: 2/3;
   align-self: center;

   height: fit-content;
   padding: var(--content-padding);

   .controls {
      display: none;
   }

   .avatar {
      width: 32px;
      padding-bottom: 32px;
   }

   .burgerIcon {
      display: none;
   }
}

// media queries
@media (max-width: 950px) {
   .header {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 100%;

      .controls {
         display: block;
         margin-left: 20px;
      }

      .avatar {
         margin-left: 20px;

         box-shadow: 0px 1px 5px 2px rgb(0 0 0 / 10%);
      }
   }
}

@media (max-width: 750px) {
   .header {
      justify-content: space-between;
      margin: 0 auto;

      max-width: 550px;

      .controls {
         margin-right: 0px;
      }

      .controls,
      .avatar {
         margin-left: 16px;
      }
   }
}

@media (max-width: 600px) {
   .header {
      .avatar {
         order: -2;
         margin: 0;
      }

      .searchForm {
         margin: 0;
      }

      .burgerIcon {
         display: block;

         padding: 10px;
         margin-right: -10px;

         background-color: white;

         transition-property: opacity;
         transition-duration: 0.1s;

         img {
            height: 16px;
            width: 20px;
         }

         &:hover {
            opacity: 0.6;
            cursor: pointer;
         }
      }

      .controls {
         display: none;
      }
   }
}

@media (max-width: 460px) {
   .header {
      .burgerIcon {
         img {
            height: 24px;
            width: 28px;
         }
      }

      .avatar {
         width: 36px;
         padding-bottom: 36px;
      }
   }
}
