.form {
   width: 137px;

   .searchIcon {
      height: 17px;
      margin-right: 10px;
      margin-top: 0px;
   }

   .searchInput {
      display: inline;
      width: 110px;

      &::placeholder {
         color: rgba(149, 149, 149);
         font-size: 1.3rem;
      }

      &:focus {
         &::placeholder {
            color: rgba(149, 149, 149, 0.6);
         }
      }

      &:disabled {
         background-color: rgba(255, 255, 255, 0);
      }
   }
}

// media queries
@media (max-width: 950px) {
   .form {
      width: 165px;
      padding: 6px 13px;
      border-radius: 6px;

      background-color: rgb(233, 233, 233);

      .searchIcon {
         height: 17px;
         margin-right: 10px;
         margin-top: 1px;
      }

      .searchInput {
         display: inline;
         width: 105px;

         background-color: rgb(233, 233, 233);

         &::placeholder {
            color: rgb(134, 134, 134);
         }

         &:focus {
            &::placeholder {
               color: rgba(149, 149, 149, 0.8);
            }
         }
      }
   }
}

@media (max-width: 750px) {
   .form {
      width: 130px;

      .searchInput {
         width: 75px;
      }
   }
}

@media (max-width: 600px) {
   .form {
      width: 175px;
      padding: 6px 15px;

      .searchInput {
         width: 115px;
      }
   }
}

@media (max-width: 460px) {
   .form {
      width: 200px;
      padding: 6px 17px;
      border-radius: 7px;

      .searchIcon {
         height: 19px;
         margin-top: 1px;
         margin-right: 12px;
      }

      .searchInput {
         display: inline;
         width: 120px;
         line-height: 1.9rem;
         font-size: 1.6rem;

         &::placeholder {
            color: rgba(149, 149, 149);
            font-size: 1.6rem;
         }
      }
   }
}

@media (max-width: 400px) {
   .form {
      width: 145px;
      padding: 6px 12px;

      .searchIcon {
         margin-right: 8px;
      }

      .searchInput {
         display: inline;
         width: 92px;
      }
   }
}

@media (max-width: 320px) {
   .form {
      width: 120px;

      .searchIcon {
         margin-right: 5px;
      }

      .searchInput {
         display: inline;
         width: 68px;
      }
   }
}