.loadingWarning {
   color: rgb(58, 58, 58);
}
.errorWarning {
   color: rgb(255, 0, 0);
}

.editor {
   position: fixed;
   z-index: 2;
   left: 0;
   top: 0;

   height: 100vh;
   width: 100vw;

   background-color: rgba(0, 0, 0, 0.35);
   transition-duration: 0.3s;
   transition-property: opacity;
   animation: bcg_opacity 0.3s;
}

.form,
.signOutBody {
   position: absolute;
   transform: translateX(-50%);
   margin-left: 50%;
   margin-top: 85px;
   width: 400px;
   border-radius: 0.7rem;

   background-color: #fff;

   .title {
      margin: 20px auto 15px auto;

      width: fit-content;

      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1;
   }
}

.signOutBody {
   .buttons {
      display: flex;
      justify-content: space-between;

      border-top: 1px solid rgb(211, 211, 211);
      padding: 1.3rem 2rem 1.5rem 2rem;
   }

   .warning {
      margin: 5px 25px 5px 25px;
   }
}

.form {
   .inputFields {
      margin-top: 1.5rem;

      padding: 0 2rem 0.5rem 2rem;
      border-bottom: 1px solid rgb(211, 211, 211);

      .label {
         display: block;
         margin-bottom: 10px;

         font-size: 1.3rem;
         font-weight: 400;

         &:not(:first-of-type) {
            margin-top: 15px;
         }
      }

      // .label,
      .input {
         display: block;

         &:not(:last-of-type) {
            margin-bottom: 10px;
         }
      }

      .inputWithoutError {
         margin-bottom: 5px;
      }

      .inputWithoutError,
      .input {
         padding: 7px 15px;
         width: 100%;
         border: solid 1px rgb(211, 211, 211);
         border-radius: 5px;

         font-size: 1.2rem;
         font-weight: 400;
         color: rgb(58, 58, 58);

         &::placeholder {
            color: rgb(156, 156, 156);
         }

         &:focus {
            border: solid 1px var(--theme-transperent-color);
            outline: solid 1px var(--theme-transperent-color);
         }
      }

      .changeAvatarPreview {
         position: relative;
         margin: 1.5rem auto 1rem auto;

         width: 150px;
         height: 150px;

         overflow: hidden;
         border-radius: 10px;

         img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
         }
      }

      .validationError {
         margin-bottom: 10px;

         font-size: 1.3rem;
         line-height: 1;
         color: rgb(255, 0, 0);

         &:last-of-type {
            margin-top: 10px;
            margin-bottom: 10px;

            line-height: 1;
         }
      }

      .description {
         margin-bottom: 5px;

         font-size: 1.3rem;
         line-height: 17px;
         color: var(--theme-color);
         font-weight: 500;
      }

      .warning {
         font-size: 1.4rem;
         font-weight: 400;
         margin-top: 15px;
         margin-bottom: 10px;
      }
   }

   .buttons {
      display: flex;
      justify-content: space-between;
      margin-left: auto;

      padding: 1.3rem 2rem 1.5rem 2rem;
      width: 100%;
   }
}

@keyframes bcg_opacity {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}
