.postContainer {
   background-color: white;
   margin-top: 10px;
   padding-top: 2rem;
   padding-bottom: 2rem;
   
   &:last-of-type {
      margin-bottom: 10px;
   }

   .post {
      margin: 0 auto;
      max-width: 510px;
   }
}
