.parameter {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;

   .notVisibleValue,
   .parameterValue,
   .parameterName {
      font-size: 13px;
      font-weight: normal;
   }

   .parameterName,
   .parameterValue {
      padding: 4px 0;
      line-height: 1.8rem;
   }

   .parameterName {
      flex: 0 0 100px;
      align-self: start;
   }

   .parameterValue {
      flex: 1 1 72%;

      color: var(--gray-fontColor);
   }

   .selectedValue {
      transition-duration: 0.1s;
      transition-property: opacity;

      &:hover {
         opacity: 0.75;
         cursor: pointer;
      }
   }

   .notVisibleValue {
      position: absolute;
      white-space: nowrap;
      width: fit-content;

      opacity: 0;
   }

   .prompt {
      position: absolute;
      z-index: 1;
      bottom: 22px;
      right: 0;

      max-width: 350px;
      padding: 5px 12px;
      border-radius: 5px;

      font-weight: 300;
      font-size: 13px;
      line-height: 15px;
      color: white;

      background-color: var(--theme-prompt-color);

      opacity: 0;
      transition-property: opacity;
      transition-duration: 0.3s;
   }
}

// media queries
@media (max-width: 460px) {
   .parameter {
      .notVisibleValue,
      .parameterValue,
      .parameterName,
      .prompt {
         font-size: 1.5rem;
      }

      .parameterName,
      .parameterValue {
         padding: 6px 0;
      }
   }
}
