.parameter {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;

   .parameterValue,
   .parameterName {
      font-size: 13px;
      font-weight: normal;
   }

   .parameterName {
      flex: 1 1 40%;
   }

   .parameterValue {
      flex: 1 1 60%;

      padding: 5px 0;

      color: var(--gray-fontColor);
   }

   .selectedValue {
      transition-duration: 0.1s;
      transition-property: opacity;

      &:hover {
         opacity: 0.75;
         cursor: pointer;
      }
   }

   .notVisibleValue {
      white-space: nowrap;

      font-size: 13px;
      font-weight: normal;
      opacity: 0;
   }

   .prompt {
      position: absolute;
      z-index: 2;
      bottom: 22px;
      right: 0;

      word-wrap: break-word;

      max-width: 350px;
      padding: 5px 12px;
      border-radius: 5px;

      font-weight: 300;
      font-size: 13px;
      color: white;

      background-color: var(--theme-prompt-color);

      opacity: 0;
      transition-property: opacity;
      transition-duration: 0.3s;
   }
}

// media queries
@media (max-width: 550px) {
   .parameter {
      .parameterName {
         flex: 0 0 95px;
      }
   
      .parameterValue {
         flex: 1 1 75%;
      }
   }
}

@media (max-width: 500px) {
   .parameter {
      // display: block;
      // .parameterName {
      //    flex: 0 0 95px;
      // }
   
      // .parameterValue {
      //    flex: 1 1 75%;
      // }
   }
}
