.profilePanel {
   padding-top: 30px;
   padding-bottom: 20px;

   background-color: var(--main-color);

   .panelFlexContainer {
      display: flex;
      justify-content: space-between;
      align-items: start;
      margin: 0 auto;

      max-width: 510px;
   }

   .bigAvatar {
      margin-right: 30px;

      transition-property: opacity;
      transition-duration: 0.2s;

      &:hover {
         cursor: pointer;
         opacity: 0.75;
      }
   }

   .profileInfo {
      position: relative;

      // max-width: calc(550px - (20px * 2) - 30px - 135px);
      flex: 1 1 50%;

      .header {
         position: relative;
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin-bottom: 10px;

         width: 100%;
         height: 22px;

         .smallAvatar {
            display: none;
         }

         .username {
            word-wrap: break-word;
            max-width: 285px;

            line-height: 2.1rem;
            font-size: 1.6rem;
            font-weight: 500;
         }

         .setParametersIcon {
            margin-right: -15px;
            padding: 8px 15px;

            transition-property: opacity;
            transition-duration: 0.1s;

            &:hover {
               cursor: pointer;
               opacity: 0.6;
            }

            img {
               display: block;
            }
         }
      }

      .parameters {
         position: relative;
      }
   }
}

// media queries
@media (max-width: 750px) {
   .profilePanel {
   }
}

@media (max-width: 550px) {
   .profilePanel {
      .bigAvatar {
         // display: none;
      }

      .profileInfo {
         .header {
         }
      }
   }
}
