.profilePanel {
   padding-top: 30px;
   padding-bottom: 20px;
   background-color: var(--main-color);

   .editIcons {
      display: none;
   }
}

.pagePartEditClass {
   padding-top: 27px;
}

.profilePanel {
   .panelGridContainer {
      display: grid;
      grid-template-columns: 175px 1fr;
      grid-template-rows: 18px 38px 1fr;
      grid-template-areas:
         "avatar header"
         "avatar show-more"
         "avatar info";

      margin: 0 auto;
      max-width: 510px;

      justify-content: space-between;
      align-items: start;
   }

   .avatar {
      grid-area: avatar;

      margin-right: 30px;

      width: 145px;
      padding-bottom: 145px;
      overflow: hidden;
      border-radius: 0.6rem;
      box-shadow: 0px 1px 5px 2px rgb(0 0 0 / 10%);

      transition-property: opacity;
      transition-duration: 0.2s;

      &:hover {
         cursor: pointer;
         opacity: 0.75;
      }
   }

   .header {
      grid-area: header;

      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      width: 100%;
      height: 22px;

      .username {
         word-wrap: break-word;
         max-width: 285px;

         line-height: 2.1rem;
         font-size: 1.6rem;
         font-weight: 500;
      }

      .parametersIcon {
         margin-right: -15px;
         padding: 8px 15px;

         transition-property: opacity;
         transition-duration: 0.1s;

         &:hover {
            cursor: pointer;
            opacity: 0.6;
         }

         img {
            display: block;
         }
      }
   }

   .showMoreButtonContainer {
      grid-area: show-more;
      align-self: end;
      margin-right: 0;
      margin-left: auto;
      width: 100%;

      .showMoreButton {
         width: 100%;
         padding: 3px 10px;

         font-size: 1.3rem;
      }
   }

   .profileInfo {
      grid-area: info;
      position: relative;
      padding-top: 2rem;

      width: 100%;
      height: 100%;

      overflow: hidden;

      .parameterBlocksContainer {
         position: absolute;
         width: 100%;
      }
   }
}

// media queries
@media (max-width: 550px) {
   .profilePanel {
      padding-top: 15px;
   }

   .pagePartEditClass {
      padding-top: 12px;
   }

   .profilePanel {
      .panelGridContainer {
         grid-template-columns: 170px 1fr;
         grid-template-rows: 36px 23px 1fr;
         grid-template-areas:
            "header header"
            "avatar show-more"
            "avatar info";

         .avatar {
            width: 145px;
            padding-bottom: 145px;
         }

         .profileInfo {
            margin-top: 4px;
         }
      }

      .showMoreButtonContainer {
         align-self: start;
         margin-top: 4px;
      }
   }
}

// @media (max-width: 460px) {
//    .profilePanel {
//       .panelGridContainer {
//          grid-template-rows: 36px 39px 1fr;
//       }

//       .showMoreButtonContainer {
//          margin-top: 4px;
//       }
//    }
// }

// @media (max-width: 375px) {
@media (max-width: 460px) {
   .profilePanel {
      padding-top: 18px;
   }

   .pagePartEditClass {
      padding-top: 15px;
   }

   .profilePanel {
      .panelGridContainer {
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 38px 250px 78px minmax(105px, 1fr);
         grid-template-areas:
            "header header"
            "avatar avatar"
            "show-more show-more"
            "info info";

         .avatar {
            width: 250px;
            padding-bottom: 250px;

            border-radius: 50%;

            margin: 0 auto;
         }

         .header {
            align-self: start;
            margin: 0;

            .username {
               word-wrap: break-word;
               max-width: 285px;
      
               line-height: 2.2rem;
               font-size: 1.8rem;
            }

            .parametersIcon {
               img {
                  height: 8px;
               }
            }
         }

         .showMoreButtonContainer {
            align-self: center;
            margin: 0;

            .showMoreButton {
               width: 100%;
               padding: 7px 10px;
               font-size: 1.6rem;
            }
         }

         .profileInfo {
            padding-top: 10px;
         }
      }
   }
}
