.parameter {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;

   .parameterValue,
   .parameterName {
      font-size: 13px;
      font-weight: normal;
   }

   .parameterName {
      flex: 1 1 40%;
   }

   .parameterValue {
      flex: 1 1 60%;

      padding: 7px 0;

      color: var(--gray-fontColor);
   }

   .selectedValue {
      transition-duration: 0.1s;
      transition-property: opacity;

      &:hover {
         opacity: 0.75;
         cursor: pointer;
      }
   }

   .notVisibleValue {
      white-space: nowrap;

      font-size: 13px;
      font-weight: normal;
      opacity: 0;
   }
}
