.lightbox {
   position: fixed;
   z-index: 2;
   left: 0;
   top: 0;

   overflow-y: auto;
   overflow-x: hidden;

   height: 100vh;
   width: 100vw;

   background-color: rgba(0, 0, 0, 0.8);
   transition-duration: 0.3s;
   transition-property: opacity;
   animation: bcg_opacity 0.5s;

   .videoContainer {
      float: left;
      position: relative;
      left: 0;
      top: 0;
      margin: 0 auto 0 auto;

      .video {
         &.moveUp {
            top: -22px;
         }

         position: absolute;
         min-height: 100%;
         min-width: 100%;
         z-index: 9997;
      }
   }

   .hideIcon,
   .rowsContainer .arrowLeft,
   .rowsContainer .arrowRight {
      transition-property: opacity;
      transition-duration: 0.1s;

      &.hover:hover,
      &.touch {
         cursor: pointer;
      }
   }

   .index {
      position: relative;
      text-align: left;
      z-index: 9998;
      left: 30px;
      top: 22px;
      margin: 0 auto;

      max-width: 1000px;

      color: white;
      font-size: 22px;
      line-height: 1;
   }

   .hideIcon {
      position: relative;
      z-index: 9999;
      right: 20px;
      top: 10px;
      margin: 0 auto;

      max-width: 1000px;

      opacity: 1;

      &.hover:hover,
      &.touch {
         opacity: 0.75;
      }

      img {
         position: absolute;
         right: 0;
         width: 45px;
         padding: 10px;
      }
   }

   .rowsContainer {
      position: relative;
      z-index: 9998;
      top: calc(50% - (49px / 2) - 22px);
      margin: 0 auto;

      max-width: 1000px;

      .arrowLeft,
      .arrowRight {
         width: 36px;
         padding: 10px;
         position: absolute;

         opacity: 0.5;

         &.hover:hover,
         &.touch {
            opacity: 1;
         }
      }

      .arrowLeft {
         left: 20px;
      }

      .arrowRight {
         right: 20px;
      }
   }

   .imageContainer {
      position: relative;

      .image {
         &.moveUp {
            top: -22px;
         }

         position: absolute;
         width: 100%;
         height: 100%;
      }
   }
}

@keyframes bcg_opacity {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

@media (max-width: 550px) {
   .lightbox {
      .index {
         left: 20px;
         top: 16px;
      }

      .hideIcon {
         top: 4px;
         right: 10px;
      }

      .rowsContainer {
         .arrowLeft {
            left: 10px;
         }

         .arrowRight {
            right: 10px;
         }
      }
   }
}

@media (max-width: 360px) {
   .lightbox {
      .formContainer {
         width: 280px;
      }
   }
}

@media (max-width: 319px) {
   .lightbox {
      .formContainer {
         width: 240px;
      }
   }
}