.avatar {
   position: relative;

   display: inline-block;

   height: 0;
}

.avatar img {
   position: absolute;
   left: 0;
   top: 0;

   border-radius: 50%;

   width: 100%;
   height: 100%;

   object-fit: cover;
   object-position: center center;
}