.controls {
   width: 140px;
   margin: 28px 20px 0 auto;

   .controlsListContainer {
      .controlsList {
      }
   }

   .burgerIcon {
      display: none;
   }
}

// media queries
@media (max-width: 950px) {
   .controls {
      width: auto;
      margin: 0;
   }
}

@media (max-width: 600px) {
   .controls {
      .burgerIcon {
         display: block;

         padding: 10px;
         margin-left: -10px;

         transition-property: opacity;
         transition-duration: 0.1s;

         img {
            height: 16px;
         }

         &:hover {
            opacity: 0.6;
            cursor: pointer;
         }
      }

      .controlsListContainer {
         display: flex;
         align-items: start;
         justify-content: space-between;

         position: fixed;
         left: -184px;
         top: 4.8rem;

         padding: 20px 20px 0 20px;
         height: calc(100vh - 4.8rem);

         background-color: var(--main-color);
         border-right: 1px solid var(--border-color);
         // box-shadow: 0px 3px 3px 1px rgb(0 0 0 / 14%);

         transition-property: transform;
         transition-duration: 0.4s;

         .controlsList {
         }
      }
   }
}
