.audiosListItem {
   display: flex;
   justify-content: space-between;
   align-items: center;

   min-width: 100%;
   padding: 0.5rem 1rem 0.5rem 0.5rem;

   animation: audiosListOpacity 0.2s linear;

   &.active {
      border-radius: 0.6rem;

      background-color: #eeeeee;
   }

   &:not(:first-of-type) {
      margin-top: 0.2rem;
   }

   .audioNameContainer {
      display: flex;
      align-items: center;
      margin-right: 1.5rem;

      width: fit-content;

      transition-property: opacity;
      transition-duration: 0.1s;

      &.hover:hover,
      &.touch {
         opacity: 0.75;
         cursor: pointer;
      }

      .audioIconContainer {
         position: relative;
         margin-right: 1rem;

         width: 2rem;
         height: 2rem;

         .animatedAudioIcon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 2rem;

            animation: palyIcon;
            animation-duration: 0.7s;
            animation-iteration-count: infinite;
         }

         .audioIcon {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
         }
      }

      .audioName {
         display: block;
         height: fit-content;

         font-size: 1.3rem;
         line-height: 2rem;
         color: rgba(149, 149, 149);
      }
   }

   .notVisibleValue {
      display: block;
      height: fit-content;

      font-size: 1.3rem;
      line-height: 2rem;
      color: rgba(149, 149, 149);
      white-space: nowrap;
   }

   .trackDuration {
      justify-self: end;

      color: #959595;
      font-size: 1.2rem;
      line-height: 2rem;
   }

   &.edit {
      .trackDuration {
         margin-right: 2.5rem;
         margin-left: auto;
      }

      .hideIcon {
         width: 1.1rem;

         transition-property: opacity;
         transition-duration: 0.1s;

         &.hover:hover,
         &.touch {
            opacity: 0.6;
            cursor: pointer;
         }
      }
   }

   &.view {
      .hideIcon {
         display: none;
      }
   }
}

@keyframes palyIcon {
   0% {
      width: 2rem;
   }

   50% {
      width: 1.7rem;
   }

   100% {
      width: 2rem;
   }
}

@keyframes audiosListOpacity {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

@media (max-width: 460px) {
   .audiosListItem {
      padding: 0.6rem 1.1rem 0.6rem 0.6rem;

      .audioNameContainer {
         .audioIconContainer {
            margin-right: 1.5rem;

            width: 2.5rem;
            height: 2.5rem;

            .animatedAudioIcon {
               width: 2.5rem;
            }
         }

         .audioName {
            font-size: 1.5rem;
         }
      }

      .notVisibleValue {
         font-size: 1.5rem;
      }

      .hideIcon {
         width: 1.5rem;
      }
   }

   @keyframes palyIcon {
      0% {
         width: 2.5rem;
      }

      50% {
         width: 2.1rem;
      }

      100% {
         width: 2.5rem;
      }
   }
}
