.panelForCreatingAPost {
   position: relative;
   padding-top: 25px;
   width: 100%;

   .buttonPreloader {
      position: absolute;

      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }

   .gridContainer {
      position: relative;
      display: grid;
      grid-template-columns: 60px minmax(100px, 1fr) 91px;
      grid-template-rows: 20px 20px minmax(29px, 1fr) minmax(0, auto);
      grid-template-areas:
         "avatar          contentIcons    button"
         "avatar          contentIcons    button"
         "editor          editor          editor"
         "imagesAndVideos imagesAndVideos imagesAndVideos"
         "audios          audios          audios"
         "files           files           files";

      width: 100%;

      .avatar {
         grid-area: avatar;
         box-shadow: 0px 1px 5px 2px rgb(0 0 0 / 10%);

         padding: 0 0 40px 0;
         width: 40px;
      }

      //       *
      .textEditorContainer {
         grid-area: editor;
         margin-top: 1.3rem;
      }
      //       *

      .createAPostButtonContainer {
         grid-area: button;
         justify-self: end;
         align-self: center;

         .createAPostButton {
            padding: 5px 20px;
         }
      }

      .imagesBlock {
         grid-area: imagesAndVideos;

         max-height: 350px;
         width: 100%;
      }

      .filesBlock,
      .audiosBlock {
         width: 100%;
      }

      .filesBlock {
         grid-area: files;
      }

      .audiosBlock {
         grid-area: audios;
      }

      .contentIcons {
         position: relative;
         grid-area: contentIcons;
         align-self: center;

         &:hover {
            cursor: pointer;
         }

         .contentIconsPrompt {
            position: absolute;
            top: -25px;

            padding: 3px 8px;
            border-radius: 0.4rem;

            font-size: 1.3rem;
            line-height: 1;

            background-color: var(--theme-prompt-color);
            color: white;

            transition-property: opacity;
            transition-duration: 0.2s;
            opacity: 0;
         }

         img {
            padding: 2px 9px;

            transition-property: opacity;
            transition-duration: 0.1s;

            &:first-of-type {
               margin-left: -0.9rem;
            }

            &.hover:hover,
            &.touch {
               opacity: 0.6;
            }
         }
      }
   }
}

@media (max-width: 460px) {
   .panelForCreatingAPost {
      .gridContainer {
         grid-template-columns: 58px minmax(75px, 1fr) 80px;
         grid-template-rows: 23px 23px minmax(31px, 1fr) minmax(0, auto);

         .avatar {
            padding: 0 0 46px 0;
            width: 46px;
         }

         .createAPostButtonContainer {
            .createAPostButton {
               padding: 5px 20px;
            }
         }

         .contentIcons {
            img {
               &:first-of-type {
                  margin-left: 0rem;
               }

               padding: 2px 15px;
               height: 25px;
            }
         }
      }
   }
}

@media (max-width: 400px) {
   .panelForCreatingAPost {
      .gridContainer {
         grid-template-columns: 60px 1fr;
         grid-template-rows: 23px 23px minmax(31px, 1fr) minmax(0, auto);
         grid-template-areas:
            "avatar          null    contentIcons"
            "avatar          null    contentIcons"
            "editor          editor          editor"
            "imagesAndVideos imagesAndVideos imagesAndVideos"
            "audios          audios          audios"
            "files           files           files"
            "button          button         button";

         .contentIcons {
            margin-right: -15px;
         }

         .createAPostButtonContainer {
            width: 100%;
            margin-top: 2rem;

            .createAPostButton {
               width: 100%;
            }
         }
      }
   }
}

@media (max-width: 330px) {
   .panelForCreatingAPost {
      .gridContainer {
         .contentIcons {
            margin-right: -10px;

            img {
               padding: 2px 10px;
               height: 25px;
            }
         }
      }
   }
}
