.leftPanel {
   height: 100%;
   padding-left: 20px;

   background-color: var(--main-color);
   border-right: 1px solid var(--border-color);

   grid-column: 1 / 2;
}


// media queries
@media (max-width: 950px) {
   .leftPanel {
      display: none;
   }
}