$header-color: rgb(190, 190, 190);
$sidebar-color-bcg: rgba(67, 67, 255, 0.8);
$pages-color-bcg: rgba(99, 59, 59, 0.8);
$sidebar-color: rgb(67, 67, 255);
$pages-color: rgb(99, 59, 59);

// sizes
$header-height: 4.6rem;
$header-height_460: 5.3rem;
$gtc_min-width_915: 1fr 550px 1fr;
$gtc_max-width_915: 550px 1fr;

.app {
   visibility: visible;
   position: fixed;
   width: 100%;
   padding-top: $header-height;
   overflow-x: hidden;

   .headerContainer,
   .sidebarsContainer,
   .pagesContainer {
      display: grid;
      grid-template-columns: $gtc_min-width_915;

      width: 100vw;
   }

   .headerContainer {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 3;

      height: $header-height;

      background-color: var(--main-color);
      box-shadow: 0 1px 2px 1px rgb(0 0 0 / 14%);

      transition-property: transform;
      transition-duration: 0.3s;
   }

   .sidebarsContainer {
      position: fixed;
      left: 0;
      top: $header-height;
      z-index: 1;

      min-height: calc(100vh - $header-height);

      background-color: var(--global-bcg-color);
   }

   .pagesContainer {
      position: relative;

      min-height: calc(100vh - $header-height);

      background-color: var(--global-bcg-color);

      .pageBackground {
         position: absolute;
         z-index: 1;
         top: -3px;
         height: 20px;
         width: 100%;

         grid-column: 2 / 3;

         background-color: var(--main-color);
      }
   }

   .popupControlsContainer {
      display: none;
   }

   .audioPlayerContainer {
      z-index: 3;
      display: none;
   }

   .appPopup {
      z-index: 4;
      position: absolute;
      top: 0;
      left: 0;
   }
}

// media queries
@media (max-width: 950px) {
   .app {
      width: 550px;
      left: 0;

      .sidebarsContainer,
      .pagesContainer {
         grid-template-columns: $gtc_max-width_915;
      }

      .sidebarsContainer {
      }

      .headerContainer {
         display: block;
      }

      .pagesContainer {
         &.withAudioPlayer {
            padding-bottom: 35px;
         }

         .page {
            grid-column: 1 / 2;
         }

         .pageBackground {
            grid-column: 1 / 2;
         }
      }

      .audioPlayerContainer {
         display: block;
         position: fixed;
         margin: 0;

         bottom: 0;
         width: 100vw;

         background-color: white;
         box-shadow: 0px -1px 2px 1px rgb(0 0 0 / 14%);

         .smallWidthAudioPlayerWrapper {
            display: flex;
            align-items: center;

            position: static;
            margin: 0 auto;

            width: calc(100% - 40px);

            .audioPlayerWrapper {
               position: relative;
               margin: 0 auto;

               width: 350px;
               height: 100%;
            }

            .hideIcon {
               height: 12px;
               margin-right: 10px;

               &.hover:hover,
               &.touch {
                  opacity: 0.6;
                  cursor: pointer;
               }
            }
         }
      }
   }
}

@media (max-width: 750px) {
   .app {
      width: 100%;

      .sidebarsContainer {
         display: none;
      }

      .headerContainer,
      .pagesContainer {
         display: block;
      }

      .audioPlayerContainer {
         .smallWidthAudioPlayerWrapper {
            .hideIcon {
               margin-right: 0;
            }
         }
      }
   }
}

@media (max-width: 600px) {
   .app {
      .popupControlsContainer {
         display: block;
         position: absolute;
         z-index: 2;
      }

      .pagesContainer {
         .pageBackground {
            position: absolute;
            top: -46px;
            height: 76px;
         }
      }
   }
}

@media (max-width: 550px) {
   .app .audioPlayerContainer .smallWidthAudioPlayerWrapper {
      position: relative;

      .audioPlayerWrapper {
         position: static;
      }
   }
}

@media (max-width: 460px) {
   .app {
      padding-top: $header-height_460;

      .headerContainer {
         height: $header-height_460;
      }

      .pagesContainer {
         position: relative;

         min-height: calc(100vh - $header-height_460);

         .pageBackground {
            position: absolute;
            top: -53px;
            height: 73px;
         }
      }

      .audioPlayerContainer {
         .smallWidthAudioPlayerWrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .audioPlayerWrapper {
               margin: 0;
               margin-left: -1rem;

               width: 90%;
            }

            .hideIcon {
               height: 18px;
               margin-left: 1.5rem;
            }
         }
      }
   }
}
