// * styles
html {
   font-size: 10px;
}

body {
   background-color: var(--global-bcg-color);
}

body,
form {
   margin: 0;

   box-sizing: border-box;

   font-family: var(--ff);
}

.unselectable {
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Chrome/Safari/Opera */
   -khtml-user-select: none; /* Konqueror */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

// general
.page {
   position: relative;
   z-index: 2;

   grid-column: 2/3;

   background-color: var(--global-bcg-color);
}

.pagePart {
   background-color: var(--main-color);
   padding: var(--content-padding);
}

// media queries
@media (max-width: 950px) {
   .page {
      grid-column: 1 / 2;
   }
}

//             *
// @media (max-width: 750px) {
//    .page {
//       width: 100vw;
//    }

//    .pagePart {
//       padding-right: 40px;
//    }
// }

.emoji-picker-react input.emoji-search {
   border-radius: 6px !important;
}

aside.emoji-picker-react {
   border-radius: 6px !important;
   box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2) !important;
}

// * emoji styles
@media (min-width: 951px) {
   aside.emoji-picker-react {
      height: 220px !important;
   }

   .emoji-picker-react img.emoji-img {
      margin: 3.5px !important;
      height: 19px !important;
      width: 19px !important;
   }

   .emoji-picker-react .emoji-group:before {
      font-size: 14px !important;
      line-height: 35px !important;
   }

   aside.emoji-picker-react .content-wrapper:before {
      line-height: 35px !important;
      max-height: 35px !important;
   }

   .emoji-picker-react input.emoji-search {
      padding: 6px 10px !important;
   }

   .emoji-picker-react ul.skin-tones-list li.tneutral {
      bottom: -7px;
   }

   .emoji-picker-react ul.skin-tones-list li {
      bottom: -7px;
   }

   .emoji-picker-react .emoji-categories button {
      height: 35px !important;
      width: 19px !important;
      background-size: 19px !important;
   }
}

@media (max-width: 950px) {
   aside.emoji-picker-react {
      height: 258px !important;
      width: 100% !important;
   }

   .emoji-picker-react img.emoji-img {
      margin: 8px !important;
   }
}

@media (max-height: 319px) {
   aside.emoji-picker-react {
      height: 200px !important;
   }
}
//             *
