// * styles
html {
   font-size: 10px;
}

body {
   background-color: var(--global-bcg-color);
}

body,
form {
   margin: 0;

   box-sizing: border-box;

   font-family: var(--ff);
}

.unselectable {
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Chrome/Safari/Opera */
   -khtml-user-select: none; /* Konqueror */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

// general
.page {
   position: relative;
   z-index: 2;

   grid-column: 2/3;

   background-color: var(--global-bcg-color);
}

.pagePart {
   background-color: var(--main-color);
   padding: var(--content-padding);
}

// media queries
@media (max-width: 950px) {
   .page {
      grid-column: 1 / 2;
   }
}

//             *
// @media (max-width: 750px) {
//    .page {
//       width: 100vw;
//    }
   
//    .pagePart {
//       padding-right: 40px;
//    }
// }
//             *