.notFound {
    font-size: 1.4rem;
    font-weight: 2rem;
    color: Red;
    
    .title {
        padding-top: 5.3rem;
        padding-bottom: 2rem;
        text-align: center;

        background-color: white;
    }
}
